.uk-navbar-container {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.uk-navbar-left {
  margin-left: 70px;
  #fidelity, #galaxy {
      height: 30px;
  }
  #fidelity {
      padding-right: 0;
  }
}
.uk-navbar-right {
  margin-right: 70px;
  #name {
      color: #525252;
      font-weight: 500;
      text-transform: capitalize;
      font-family: inherit;
  }
  #allApps {
      color: #525252;
      font-weight: 500;
      text-transform: capitalize;
      &:hover {
          color: #0f2031;
          font-weight: 600;
      }
  }
  li {
    display: flex;
    align-items: center;
  }
  .avatar {
    display: inline-flex;
    color: #fff;
    background-color: #adb5bd;
    align-items: center;
    justify-content: center;
}
.rounded-circle {
  border-radius: 50%!important;
}
.avatar-sm {
  font-size: .875rem;
  width: 36px;
  height: 36px;
}
.avatar img {
  width: 100%;
  border-radius: 50%;
}
img {
  vertical-align: middle;
  border-style: none;
}
}
