<nav class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">
      <li>
        <a href="#"><img src="./assets/images/FidelityLogo.png" alt="" id="fidelity"></a>
      </li>
      <li><a href="#"><img src="./assets/images/Line.svg" alt=""></a></li>
      <li><a href="#"><img src="./assets/images/Galaxy.png" alt="" id="galaxy"></a></li>
    </ul>
  </div>

  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
      <li class="uk-active">
        <!-- <a href="#" id="allApps">All Apps</a> -->
      </li>
      <li>
        <a href="#" id="name">Username</a>
      </li>
      <li>
        <span class="avatar avatar-sm rounded-circle">
          <img alt="Image placeholder" src="./assets/images/team-4-800x800.jpg">
        </span>
      </li>
    </ul>
  </div>
</nav>
