<div class="row">
  <div class="col-xl-3 col-lg-6">
    <app-card [cardData] = "card1"></app-card>
  </div>
  <div class="col-xl-3 col-lg-6">
    <app-card [cardData] = "card2"></app-card>
  </div>
  <div class="col-xl-3 col-lg-6">
    <app-card [cardData] = "card3"></app-card>
  </div>
  <div class="col-xl-3 col-lg-6">
   <app-card [cardData] = "card4"></app-card>
  </div>
</div>
