.icon-shape {
  display: inline-flex;
  padding: 12px;
  text-align: center;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.icon {
width: 3rem;
height: 3rem;
}
.text-white {
color: #fff!important;
}
[class*=shadow] {
transition: all .15s ease;
}
.card-profile-image img, .shadow {
box-shadow: 0 0 2rem 0 rgba(136,152,170,.15)!important;
}
.rounded-circle {
border-radius: 50%!important;
}
#bg-danger {
background-color: #f5365c!important;
}
#bg-warning {
background-color: #fb6340!important;
}
#bg-yellow {
background-color: #ffd600!important;
}
#bg-info {
background-color: #11cdef!important;
}
.text-muted {
color: #8898aa!important;
}
.card {
position: relative;
display: flex;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
border: none;
border-radius: .375rem;
background-color: #3f51b50f;
background-clip: border-box;
.card-body {
  padding: 1.2rem;
}
.card-title{
  font-size: 0.9rem !important;
}
.stat {
  font-size: 1.9rem;
  color: #28357d;
}
}
