<div class="card card-stats mb-4 mb-xl-0">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h5 class="card-title text-muted mb-0">
          {{ cardData?.title || 'NBO' }}
        </h5>
        <span class="h2 font-weight-bold mb-0 stat">{{cardData?.statistics.value | number }}</span>
      </div>
      <div class="col-auto">
        <div class="icon icon-shape text-white rounded-circle shadow" [id] = "cardData.iconType">
          <i [class]="cardData?.icon || 'fas fa-chart-pie'"></i>
        </div>
      </div>
    </div>
    <p class="mt-0 mb-0 text-muted text-sm">
      <span class="text-success mr-2">
        <i class="fa fa-arrow-up"></i>{{cardData?.statistics.percentageIncOrDecValue || 2.5}}%
      </span>
      <span class="text-nowrap">{{cardData?.statistics.percentageIncOrDecTime || 'Since last month'}}</span>
    </p>
  </div>
</div>
