<div class="showcase">
  <div class="text">
    <p id="aida">Data Analytics Suite</p>
    <span id="subtext">...we make sense of your numbers</span>
  </div>
</div>
<div class="container-fluid">
  <div class="header-body">
    <app-card-list></app-card-list>
    <iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiMTBkNjNkODgtMTZkMy00YWQ1LWE4MDUtNTc5MDkwMWJjODY0IiwidCI6IjJhNTAzMjhmLTc4N2ItNGQ2OC1iMmUzLTFjMTI0NDAyNTJhYiIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>
  </div>
</div>
