.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  // font-weight: 600;
  // line-height: 1.5;
  margin-bottom: .5rem;
  color: #32325d;
}
.showcase{
  // background-image: url('../../../assets/images/aida.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 135px;
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
  }
  #aida {
    font-family: 'Quantico', sans-serif !important;
    font-size: 47px;
    color: #3F51B5;
    margin: 0;
  }
  #subtext{
    font-family: 'Marck Script', cursive !important;
    font-size: 21px;
    color: #3F51B5;
  }
}
.container-fluid{


}
